.notautorized {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	gap: 1rem;
}
.msg {
	font-size: 2rem;
	text-align: center;
}
.link {
	font-size: 1.1rem;
	text-decoration: none;
	color: #333;
	transition: color 0.3s ease;
}
.link:hover {
	color: #0056b3;
}
.dashboard_container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
}
.welcome_logoutbtn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1rem;
	border-bottom: 1px solid black;
}
.dashboard_header {
	font-size: 2rem;
}
.logout_button {
	background-color: #f44336;
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
}
.logout_button:hover {
	background-color: #d32f2f;
}
